include README.md
include LICENSE.txt
include tests/test-wallet.py
include tests/test-address.py
include tests/test-blockchain.py
include tests/test-ecc.py
include tests/test-piecewise.py
include tests/test-script.py

